* {
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: beige;


}

.section1 {
    display: flex;
    justify-content: center;
}

.full-container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    background-color: black;
    width: 100%;
    height: 400px;

    display: flex;

    padding-bottom: 40px;
    border-radius: 10px;

}

.header-writing-side {
    margin-left: 40px;


}

.header-writing-side h1 {
    font-size: 2em;
    color: white;



}

.header-writing-side p {
    font-size: 1.2em;
    color: white;

}

.header-writing-side button {
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, 0.884);
    font-size: 1.4em;
    border-radius: 10px;
    color: white;
}

.main-header div {
    width: 50%;

}

.header-img img {
    width: 100%;
    height: 97%;
    margin-right: 10%;
    margin-top: 10%;


}

/* header end  */



/* left side for Tab ---- */

.mainsection-for-tab {
    display: none;
}

/* left side for Tab ---- */


/* second section Start */

/* common style on Main div  */
.section2 {

    display: flex;
    gap: 10px;
    margin-top: 80px;

}

/* common style on Main div END */
/* left side style start  */
.mainsection {
    background: black;
    width: 25%;
    height: 280px;
    border-radius: 10px;

}


.container {
    display: flex;
    flex-direction: column;


}



.container .first-p {
    background-color: white;
    color: black;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    margin: 10px;
    border-radius: 9px;
    padding: 10px 0;

}

.container .second-p {
    background-color: rgb(231, 85, 85);
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    margin: 10px;
    border-radius: 9px;
    padding: 10px 0;

}

.second-p a {
    color: white;
}

/* Left Side Style End  */
.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 10px;
    width: 80%;
}

.player {
    background-color: whitesmoke;
    border-radius: 10px;

}

.player>button,
p,
span {
    padding: 8px;
}

.player img {
    width: 100%;
    border-radius: 10px;

}

.player p {
    font-weight: 600;
    font-size: 1.3em;
}

.player button {
    font-size: 1.2em;
}

.first-p>.second-p,
a {
    text-decoration: none;
}

.view-all {

    visibility: hidden;
}

.view-all button {
    background-color: rgba(255, 0, 0, 0.623);

}

/* footer section start  */
.footerdiv {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 300px;
    margin-top: 30px;

}

.footer-section {
    background-color: black;
    color: white;
    width: 80%;
    padding-top: 70px;

}

.all-manu {
    display: flex;
    justify-content: space-between;
}

.all-manu a {
    text-decoration: none;
    color: white;

}

.top-text {
    text-align: center;
}

.top-text h1 {
    font-size: 1.7em;
}

.icon {
    background-color: aquamarine;
    display: inline-block;
    visibility: hidden;
}

/* midea Query Start ---- */

/* for Mobile ------------ */
@media only screen and (max-width: 576px) {
    .main-container {
        grid-template-columns: repeat(1, 1fr)
    }

    .section1 {
        display: flex;
        justify-content: center;
    }

    .full-container {
        width: 100%;
        margin: 0 auto;
    }

    .main-header {
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        border-radius: 10px;


    }

    .header-writing-side {
        margin-left: 40px;


    }

    .header-writing-side h1 {
        font-size: 20px;
        color: white;



    }

    .header-writing-side p {
        font-size: 12px;
        color: white;
        padding-left: 3px;

    }

    .header-writing-side button {

        background-color: red;
        font-size: 12px;
        border-radius: 5px;
    }

    .main-header div {
        width: 50%;
        height: 270px;

    }

    .header-img img {
        width: 100%;
        height: 220px;
        margin-top: 68%;

    }

    /* left side  */
    .mainsection {
        background: black;
        width: 25%;
        height: 220px;
        border-radius: 10px;

    }






    .container .first-p {
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        border-radius: 9px;
        padding: 10px 0;

    }

    .first-p>second-p,
    a {
        text-decoration: none;
    }

    .second-p a {
        font-size: 15px;
    }

    /* center end ----- */

    .all-manu {
        display: inline;
        text-align: center;

    }

    .all-manu a {
        text-decoration: none;
        color: white;

    }


    .top-text h1 {
        font-size: 20px;
        margin: 0;
    }

    .icon {
        background-color: aquamarine;
        display: inline-block;
        visibility: visible;
        margin-left: 89px;
    }


}


/* mobile View End  --*/
/* midea Query End -- */

/* Tab View --------- */
/* midea Query start For Tab ------- */
@media screen and (max-width: 992px) and (min-width: 577px) {

    .main-header {
        background-color: black;
        width: 100%;
        height: 400px;

        display: flex;

        padding-bottom: 40px;
        border-radius: 10px;

    }

    .header-writing-side {
        margin-left: 40px;


    }

    .header-writing-side h1 {
        font-size: 20px;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-left: 8px;
        color: white;



    }

    .main-header {
        height: 212px;
    }

    .header-writing-side p {
        font-size: 12px;
        color: white;
        padding-top: 10px;
        padding-top: 0;
        margin-left: 0;
        margin-top: 0;

    }

    .header-writing-side button {
        margin-left: 7px;
        background-color: rgb(241, 86, 65);
        font-size: 1em;
        border-radius: 10px;
    }

    .main-header div {
        width: 50%;

    }

    .header-img img {
        width: 100%;
        height: 230px;
        padding: 0;
        margin: 22px;



    }


    /* main body --------Start */

    /* left side Css  */

    .mainsection {
        display: none;

    }


    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        border-radius: 10px;
        width: 100%;
    }

    .view-all {

        visibility: visible;
        margin: 20px 43%;

    }

    .view-all button {
        background-color: rgba(255, 0, 0, 0.623);
        border-radius: 5px;
        font-weight: 600;
        padding: 7px 20px;
    }

    /* left side  */
    .mainsection-for-tab {
        display: flex;
        flex-direction: column;
    }

    /* footer nav bar  */

    .all-manu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }



}